.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main {
  background-color: rgb(18,18,18);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}


